<div class="curation-container">
    <h2>Variant Curation Wizard</h2>

    <div class="step-wrapper" [class.active]="currentStep() === 1">
        <app-gene-curation-widget 
            (stepComplete)="onGeneStepComplete($event)"
            (reset)="resetToStep(1)">
        </app-gene-curation-widget>
    </div>

   <!-- @if (currentStep() > 1) { <mat-divider/>  }

    @if (currentStep() >= 2) {
        <div class="step-wrapper fade-in">
            <h3>Step 2: Define Variant</h3>
            <p>Define the specific mutation for <strong>{{ geneData()?.symbol }}</strong></p>
            
            <app-variant-search-widget 
                [geneSymbol]="geneData()?.symbol"
                (stepComplete)="currentStep.set(3)">
            </app-variant-search-widget>
        </div>
    }

    @if (currentStep() >= 3) {
        <div class="step-wrapper fade-in">
            <h3>Step 3: Review & Save</h3>
            <button mat-raised-button color="accent" (click)="onFinalSave()">
                Save to Curation File
            </button>
        </div>
    } -->
</div>