<div class="curation-container">
    <h2>Variant Curation Wizard</h2>

    <div class="step-wrapper" [class.active]="currentStep() === 1">
        <app-gene-curation-widget 
            (stepComplete)="onGeneStepComplete($event)"
            (reset)="resetToStep(1)">
        </app-gene-curation-widget>
    </div>

    @if (currentStep() > 1) { <mat-divider/>  }

    @if (currentStep() >= 2 && geneData(); as gdata) {
        <div class="variant-card hgvs-theme">
            <app-addvariant
                [selected_gene]="gdata"
                (stepComplete)="onVariantStepComplete($event)">
            </app-addvariant>
        </div>
    }
    @if (currentStep() > 2) { <mat-divider/>  }
    @if(currentStep() >= 3 ) {
        <app-variant-category-selector
            (stepComplete)="onCategoryStepComplete($event)">
        </app-variant-category-selector>
    }
    @if (currentStep() > 3) { <mat-divider/>  }
    @if(currentStep() >=4) {
        <app-evaluation-widget
             (stepComplete)="onEvaluationStepComplete($event)">
        </app-evaluation-widget>
    }
   @if (currentStep() > 4) { <mat-divider/>  }

    @if (currentStep() >= 5) {
        <div class="step-wrapper fade-in">
            <h3>Review & Save</h3>
            <button mat-raised-button color="accent" (click)="onFinalSave()">
                Save
            </button>
        </div>
    } 
</div>