
h2 {
    font-weight: 200;
    margin-bottom: 0.5rem;
    margin-top: 0;
    max-width: 27rem;
    font-size: 1.3rem;
}


.about-wrapper {
    display: flex;
    flex-direction: column;
    width: 80cqw;
}

.about-body {
    display: flex;
    padding: 0 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.button {
    background-color: var(--md-sys-color-primary);
    align-self: center;
    color: white;
    border-radius: 3em;
    width: 10rem;
    height: 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button:hover {
    background-color: var(--md-sys-color-primary-hover);
    transition: background-color 0.2s ease;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.4)
}

.material-symbols-outlined {
    color: white;

}

button.tab-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15rem;
    transition: background-color 0.2s ease;
    margin: 0.3em;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

button.tab-button.active {
    background-color: var(--md-sys-color-primary-container);
    color: black;
}

button.tab-button:hover:not(.active) {
    background-color: var(--md-sys-color-primary-container);
}

.tabs-container {
    display: flex;
    box-shadow: 0 2px 4px var(--shadow-header);
    background-color: var(--md-sys-color-on-primary);
    border-radius: 0.5rem;
    position: relative;
    animation-timing-function: ease-in;
    animation: mymove 0.5s;
    margin-bottom: 2rem;
}

@keyframes mymove {
    from {
        top: -1rem;
    }

    to {
        top: 0rem;
    }
}

.mat-divider.vertical {
    width: 1px;
    color: var(--md-sys-color-outline);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.material-symbols-outlined.tab-icon {
    color: rgb(50, 50, 50);
    font-size: 20px;
}


.mat-divider {
    width: 40%;
    color: var(--md-sys-color-outline);
}

.control-header {
    display: flex;
    justify-content: space-between;
    width: 80cqw;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    min-width: 700px;
    max-width: 1400px;
}

p {
    font-weight: 300;
    margin: 0;
}