<div class="pubmed-container">
  <label class="text-xs font-bold text-slate-500 uppercase tracking-widest mb-2 block">
    PMID
  </label>

  @if (!isConfirmed()) {
   <div class="animate-in">
  <div class="flex items-start gap-2">
    
    <mat-form-field appearance="outline" class="flex-1 dense-field" subscriptSizing="dynamic">
      <mat-label>PMID</mat-label>
      <input matInput 
             [ngModel]="pmidInput()" 
             (ngModelChange)="pmidInput.set($event)"
             placeholder="Enter PMID"
             (keyup.enter)="retrieveCitation()">
    </mat-form-field>
    
    <button mat-flat-button 
            color="primary" 
            class="h-[56px] px-8 font-bold uppercase tracking-wide transition-all hover:brightness-110 active:scale-95 whitespace-nowrap"
            [disabled]="!pmidInput() || isLoading()" 
            (click)="retrieveCitation()">
      
      <div class="flex items-center gap-2">
        @if (isLoading()) { 
          <mat-spinner diameter="20" color="accent"></mat-spinner> 
          <span>Searching...</span>
        } @else { 
          <mat-icon>search</mat-icon>
          <span>Retrieve</span> 
        }
      </div>
    </button>
  </div>

  @if (citation(); as citation) {
    <div class="p-2 mt-2 bg-blue-50 border border-blue-100 rounded-lg flex items-center justify-between animate-pop-in">
        <span class="text-xs font-medium text-blue-800 truncate px-2">
          Found: {{ citation.title }}
        </span>
    </div>
  }
</div>
  } @else {
    <div class="citation-confirmed-card animate-pop-in">
      @if(citation(); as citation) {
      <div class="flex items-start gap-3">
        <div class="bg-green-100 text-green-600 p-2 rounded">
          <mat-icon>menu_book</mat-icon>
        </div>
        <div class="flex-1">
          <div class="text-sm font-bold text-slate-900 leading-snug">{{ citation.title }}</div>
          <div class="text-xs text-slate-500 font-mono mt-1">PMID: {{ citation.pmid }}</div>
        </div>
        <button mat-icon-button (click)="isConfirmed.set(false)">
          <mat-icon class="text-slate-400">edit</mat-icon>
        </button>
      </div>
      }
    </div>
  }
</div>